file "$(TOP)/db/devAICRIO.db"
{
pattern
{BL, EQ, DTYP, PIN}
{"CRIO", "Mod4/AI0", "CrioAI", "Mod4/AI0"}
{"CRIO", "Mod4/AI1", "CrioAI", "Mod4/AI1"}
{"CRIO", "Mod4/AI2", "CrioAI", "Mod4/AI2"}
{"CRIO", "Mod4/AI3", "CrioAI", "Mod4/AI3"}
{"CRIO", "Mod6/TC0", "CrioAI", "Mod6/TC0"}
{"CRIO", "Mod6/TC1", "CrioAI", "Mod6/TC1"}
{"CRIO", "Mod6/TC2", "CrioAI", "Mod6/TC2"}
{"CRIO", "Mod6/TC3", "CrioAI", "Mod6/TC3"}
{"CRIO", "Mod7/AI0", "CrioAI", "Mod7/AI0"}
{"CRIO", "Mod7/AI1", "CrioAI", "Mod7/AI1"}
{"CRIO", "Mod7/AI2", "CrioAI", "Mod7/AI2"}
{"CRIO", "Mod7/AI3", "CrioAI", "Mod7/AI3"}
{"CRIO", "Mod8/AI0", "CrioAI", "Mod8/AI0"}
{"CRIO", "Mod8/AI1", "CrioAI", "Mod8/AI1"}
{"CRIO", "Mod8/AI2", "CrioAI", "Mod8/AI2"}
{"CRIO", "Mod8/AI3", "CrioAI", "Mod8/AI3"}
{"CRIO", "RT_DBL_AI0", "CrioAI", "RT_DBL_AI0"}
{"CRIO", "RT_SGL_AI1", "CrioAI", "RT_SGL_AI1"}
{"CRIO", "RT_I64_AI2", "CrioAI", "RT_I64_AI2"}
{"CRIO", "RT_I32_AI3", "CrioAI", "RT_I32_AI3"}
{"CRIO", "RT_I16_AI4", "CrioAI", "RT_I16_AI4"}
{"CRIO", "RT_I08_AI5", "CrioAI", "RT_I08_AI5"}
{"CRIO", "RT_U64_AI6", "CrioAI", "RT_U64_AI6"}
{"CRIO", "RT_U32_AI7", "CrioAI", "RT_U32_AI7"}
{"CRIO", "RT_U16_AI8", "CrioAI", "RT_U16_AI8"}
{"CRIO", "RT_U08_AI9", "CrioAI", "RT_U08_AI9"}

}



