file "$(TOP)/db/devBICRIO.db"
{
pattern
{BL, EQ, DTYP, PIN}
{"CRIO", "Mod3/DI0", "CrioBI", "Mod3/DIO0"}
{"CRIO", "Mod3/DI1", "CrioBI", "Mod3/DIO1"}
{"CRIO", "Mod3/DI2", "CrioBI", "Mod3/DIO2"}
{"CRIO", "RT_BOL_BITest", "CrioBI", "RT_BOL_BITest"}
{"CRIO", "Mod3/DI3", "CrioBI", "Mod3/DIO3"}
{"CRIO", "Mod3/DI4", "CrioBI", "Mod3/DIO4"}
{"CRIO", "Mod3/DI5", "CrioBI", "Mod3/DIO5"}
{"CRIO", "Mod3/DI6", "CrioBI", "Mod3/DIO6"}
{"CRIO", "Mod3/DI7", "CrioBI", "Mod3/DIO7"}
{"CRIO", "Mod3/DI8", "CrioBI", "Mod3/DIO8"}
{"CRIO", "Mod3/DI9", "CrioBI", "Mod3/DIO9"}
{"CRIO", "Mod3/DI10", "CrioBI", "Mod3/DIO10"}
{"CRIO", "Mod3/DI11", "CrioBI", "Mod3/DIO11"}
{"CRIO", "Mod3/DI12", "CrioBI", "Mod3/DIO12"}
{"CRIO", "Mod3/DI13", "CrioBI", "Mod3/DIO13"}
{"CRIO", "Mod3/DI13", "CrioBI", "Mod3/DIO13"}
{"CRIO", "Mod3/DI14", "CrioBI", "Mod3/DIO14"}
{"CRIO", "Mod3/DI15", "CrioBI", "Mod3/DIO15"}
{"CRIO", "Mod1/DI4", "CrioBI", "Mod1/DIO4"}
{"CRIO", "Mod1/DI5", "CrioBI", "Mod1/DIO5"}
{"CRIO", "Mod1/DI6", "CrioBI", "Mod1/DIO6"}
{"CRIO", "Mod1/DI7", "CrioBI", "Mod1/DIO7"}
{"CRIO", "Mod2/DI4", "CrioBI", "Mod2/DIO4"}
{"CRIO", "Mod2/DI5", "CrioBI", "Mod2/DIO5"}
{"CRIO", "Mod2/DI6", "CrioBI", "Mod2/DIO6"}
{"CRIO", "Mod2/DI7", "CrioBI", "Mod2/DIO7"}
}
