record(ai, "$(BL):$(LOC):$(EQ)") {
    field(INP, "@$(PIN)")
    field(DTYP, "$(DTYP)")
    field(SCAN, "$(SCAN)")
    field(DESC, "$(DESC)")
    field(HIHI, "$(HIHI)")
    field(HIGH, "$(HIGH)")
    field(LOW,  "$(LOW)")
    field(LOLO, "$(LOLO)")
    field(HHSV, "$(HHSV)")
    field(HSV,  "$(HSV)")
    field(LSV,  "$(LSV)")
    field(LLSV, "$(LLSV)")
    field(HYST, "$(HYST)")
    field(EGU,  "$(EGU)")
    field(PREC, "$(PREC)")
}
