record(ao, "$(BL):$(LOC):$(EQ)") {
    field(OUT,"@$(PIN)")
    field(DTYP, "$(DTYP)")
    field(DESC, "$(DESC)")
    field(PINI, "YES")
    field(HIHI, "$(HIHI)")
    field(HIGH, "$(HIGH)")
    field(LOW,  "$(LOW)")
    field(LOLO, "$(LOLO)")
    field(HHSV, "$(HHSV)")
    field(HSV,  "$(HSV)")
    field(LSV,  "$(LSV)")
    field(LLSV, "$(LLSV)")
    field(HYST, "$(HYST)")
    field(IVOA, "$(IVOA)")
    field(IVOV, "$(IVOV)")
    field(EGU,  "$(EGU)")
    field(PREC, "$(PREC)")
}
