record(bo, "$(BL):$(LOC):$(EQ)") {
    field(OUT,"@$(PIN)")
    field(DTYP, "$(DTYP)")
    field(DESC, "$(DESC)")
    field(ZNAM, "$(ZNAM)")
    field(ONAM, "$(ONAM)")
    field(PINI, "$(PINI)")
    field(HIGH, "$(HIGH)")
    field(VAL, "$(VAL)")

}
