record(mbbo, "$(BL):$(EQ)") {
    field(DESC, "$(DESC)")
    field(OUT,  "@$(PIN)")
    field(PINI, "YES")
    field(DTYP, "$(DTYP)")
    field(VAL,  "$(VAL)")
    field(ZRST, "$(ZRST)")    field(ZRVL, "$(ZRVL)")
    field(ONST, "$(ONST)")    field(ONVL, "$(ONVL)")
    field(TWST, "$(TWST)")    field(TWVL, "$(TWVL)")
    field(THST, "$(THST)")    field(THVL, "$(THVL)")
    field(FRST, "$(FRST)")    field(FRVL, "$(FRVL)")
    field(FVST, "$(FVST)")    field(FVVL, "$(FVVL)")
    field(SXST, "$(SXST)")    field(SXVL, "$(SXVL)")
    field(SVST, "$(SVST)")    field(SVVL, "$(SVVL)")
    field(EIST, "$(EIST)")    field(EIVL, "$(EIVL)")
    field(NIST, "$(NIST)")    field(NIVL, "$(NIVL)")
    field(TEST, "$(TEST)")    field(TEVL, "$(TEVL)")
    field(ELST, "$(ELST)")    field(ELVL, "$(ELVL)")
    field(TVST, "$(TVST)")    field(TVVL, "$(TVVL)")
    field(TTST, "$(TTST)")    field(TTVL, "$(TTVL)")
    field(FTST, "$(FTST)")    field(FTVL, "$(FTVL)")
    field(FTST, "$(FTST)")    field(FTVL, "$(FTVL)")
    field(FFST, "$(FFST)")    field(FFVL, "$(FFVL)")
    field(ZRSV, "$(ZRSV)")
    field(ONSV, "$(ONSV)")
    field(TWSV, "$(TWSV)")
    field(THSV, "$(THSV)")
    field(FRSV, "$(FRSV)")
    field(FVSV, "$(FVSV)")
    field(SXSV, "$(SXSV)")
    field(SVSV, "$(SVSV)")
    field(EISV, "$(EISV)")
    field(NISV, "$(NISV)")
    field(TESV, "$(TESV)")
    field(ELSV, "$(ELSV)")
    field(TVSV, "$(TVSV)")
    field(TTSV, "$(TTSV)")
    field(FTSV, "$(FTSV)")
    field(FTSV, "$(FTSV)")
    field(FFSV, "$(FFSV)")
    field(IVOA, "$(IVOA)")
    field(IVOA, "$(IVOV)")
    field(IVOA, "$(COSV)")
    field(IVOA, "$(UNSV)")
}
