record(waveform, "$(BL):$(LOC):$(EQ)") {
    field(INP, "@$(PIN)")
    field(DTYP, "$(DTYP)")
    field(FTVL, "$(FTVL)")
    field(NELM, "$(NELM)")
    field(SCAN, ".1 second")
    field(APST, "On Change")
    field(MPST, "On Change")
    field(DESC, "$(DESC)")
}
